/*GLOBAL*/
.centerTxts{
    text-align: center;
}
.svg{
    background-color: white;
}
#helpTable{
    background-color: antiquewhite;
    border-radius: 5px;
}
th,td{
    padding: 5px;
}
li{
    margin-top:5px;
}

#mainImg{
    max-width: 100%;
    border-radius: 5px;
}
.dropdown{
    margin-top: 10px;
}

/*HEAD*/
.navbar-brand{
    text-align:center;
    color: white !important;
}
.navbar-custom{
    background-color: #2b333b;
    border-bottom: 3px solid !important;
    border-color: cadetblue !important;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
#title{
    padding: 5px;
    color: white;
}
.spacer-50{
    margin: 50px !important;
}
.icon-brand{
    width:200px;
}

/*FOOT*/
#footContainer{
    position: fixed;
    Width: 100%;
    bottom: 0;
}
.navbar-custom-foot{
    background-color: ghostwhite;
    border-top: 1px solid !important;
    border-color: cadetblue !important;
    width: 100%;
}
.icon-footer{
    height: 50px;
}
.spacer-75{
        margin: 75px !important;
}
/*BODY*/

    /* All */

    #GUIcontainer{
        width: 700px;
        margin: 10% auto;
    }
    #GUIcenter{
        height: 150px;
        width: 250px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        margin: 10px;
        border: solid;
        border-width: 5px;
        border-color: black;
    }
    .card{
        margin: 5px;
        border-color: whitesmoke !important;
    }
/*FDG*/

text.shadow_v_collapsed{
    stroke: white;
    stroke-width: 0.5px;
    opacity: 0.8;
    pointer-events: none;
}
text.shadow_v_normal{
    stroke: white;
    stroke-width: 0.1px;
    opacity: 0.8;
    pointer-events: none;
}
text.shadow_v_compact{
    stroke: white;
    stroke-width: 0.1px;
    opacity: 0.8;
    pointer-events: none;
}